{
  "env": {
    "node": true
  },
  "rules": {
    "key-spacing": [1, {
      "beforeColon": false,
      "afterColon": true
    }],
    "comma-spacing": [1, {
      "before": false,
      "after": true
    }],
    "object-curly-spacing": ["warn", "always"],
    "no-trailing-spaces": ["warn"],
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "no-undef": 1,
    "quotes": [1, "single"],
    "eol-last": ["warn", "always"],
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-debugger": 1,
    "indent": ["warn", 4],
    "semi": ["warn", "never"]
  }
}
